body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,80,1) 35%, rgba(0,212,255,1) 100%);
}
h1{
    
    color: white;  
    text-align: center; 
}
h3{
    margin-top: 20vh;
    text-align: center;
}
.button {

    background: green;
    padding: 15px 30px;
    text-align: center;
    font-size: 22px;
    color: white;
    border: none;
    margin: 2px;
    border-radius: 5px;
    
    
}
.button:hover{
    background-color: rgb(5, 77, 47);
    cursor: pointer;
    
}
div{
    text-align: center;
}
